@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

.dark-mode{
    background-color: color.scale(v.$grisOscuro, $lightness: 10%);

    p{
        color: v.$blanco;
    }

    a,h1,h2,h3,h4{
        color: v.$gris;
    }

    .anuncio{
        background-color: v.$grisOscuro;
        border: 1px solid v.$grisOscuro;;
    }

    .precio{
        color: v.$verde;
    }

    .iconos-caracteristicas{
        .icono{
            filter: invert(100%);
        }
    }

    .texto-nosotros blockquote{
        color: v.$blanco;
    }

    .formulario{
        legend,label,p{
            color: v.$gris;
        }

        input:not([type="submit"]),textarea,select{
            background-color: v.$grisOscuro;
            border: 1px solid v.$grisOscuro;
            color: v.$blanco;
        }
    }
}